.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deck-builder {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #ccc;
    padding: 20px;
}

.form-container > * {
    margin-right: 10px;
}

.deck-controls-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.deck-controls-container button {
    margin-right: 10px;
    padding: 10px 20px;
}

.deck-container {
    display: flex;
    justify-content: center;
}

.deck-list-section,
.card-section,
.land-section,
.hand-section {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 10px;
}

.deck-list-section {
    margin-right: 20px;
}

.hand-section {
    margin-left: 20px;
}

#deck-list {
    margin-bottom: 20px;
}

.deck-list-section h2 {
	text-align: center;
  }
  

@media (max-width: 768px) {
    .deck-container {
        flex-direction: column;
    }

    .deck-list-section {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .hand-section {
        margin-left: 0;
    }
}

.card-section,
.land-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.card-section > *,
.land-section > * {
    margin-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deck-builder {
    text-align: center;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #ccc;
    padding: 20px;
}

.form-container > * {
    margin-right: 10px;
}

.deck-controls-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.deck-controls-container button {
    margin-right: 10px;
    padding: 10px 20px;
}

.deck-container {
    display: flex;
    justify-content: center;
}

.deck-list-section,
.card-section,
.land-section,
.hand-section {
    border: 2px solid #ccc;
    padding: 20px;
    margin: 10px;
}

.deck-list-section {
    margin-right: 20px;
}

.hand-section {
    margin-left: 20px;
}

#deck-list {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .deck-container {
        flex-direction: column;
    }

    .deck-list-section {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .hand-section {
        margin-left: 0;
    }
}

.card-section,
.land-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.card-section > *,
.land-section > * {
    margin-bottom: 10px;
}
